#wrapper {
  position: relative;
  z-index: 100;
}

input {
  width: 200px;
  height: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  margin: 0;
  width: 207px;
  height: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cadetblue;
  background-color: gainsboro;
}

div:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
  transition: 0.4s;
}
