<!--<div>{{date| date: 'mediumDate'}} / {{date | date: 'shortTime'}} : {{lastReview}}</div>-->


<app-product [data]="product" *ngFor="let product of productList">
  <div  ></div>
  <div ></div>
  <div ></div>

  <h2  class="priceName" priceName *ngIf="product.price > 0">
    Price:
  </h2>


  <h3  class ="descriptionName"  *ngIf="product.description !== undefined">Description:</h3>

  <div ></div>

  <ng-container vendor *ngFor="let vendor of product.vendors">
    <div class="vendor" *ngIf="vendor.stockCount > 0">
      {{ vendor.name }}
    </div>
  </ng-container>
</app-product>

