
<div class="space"></div>



<form class="form" (ngSubmit)="createNewProduct()">
    <span>New product form</span>
    <mat-form-field appearance="fill">
        <mat-label>Product name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Product price</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Stock count</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descripion</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sold total</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sold last month</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

        <a mat-raised-button routerLink="/new-product-form">add new product</a>

      </form>
