<div class="space"></div>
<mat-vertical-stepper [linear]="false">
    <mat-step>
        <form class="form" [formGroup]="productFormGroup">
            <ng-template matStepLabel style="color: black"
                >fill in info about product</ng-template
            >

            <mat-form-field appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Product price</mat-label>
                <input matInput formControlName="price" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Stock count</mat-label>
                <input matInput formControlName="stockCount" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descripion</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sold total</mat-label>
                <input matInput formControlName="sold" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sold last month</mat-label>
                <input matInput formControlName="lastMonthSold" />
            </mat-form-field>
            <button mat-button matStepperNext>Next to vendors</button>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>fill in the vendors of product</ng-template>
        <form class="formVendors" [formGroup]="vendorName">
            <div formArrayName="vendors">
                <div
                    *ngFor="
                        let vendor of vendorName.get('vendors').controls;
                        let i = index
                    "
                >
                    <mat-form-field>
                        <mat-label>Vendor {{ i + 1 }}</mat-label>
                        <input matInput [formControlName]="i" />
                    </mat-form-field>
                </div>
            </div>
            <div formArrayName="countStock">
                <div
                    *ngFor="
                        let count of vendorName.get('countStock').controls;
                        let i = index
                    "
                >
                    <mat-form-field>
                        <mat-label>count on Stock</mat-label>
                        <input matInput [formControlName]="i" />
                    </mat-form-field>
                    <button class="buttonPlus" (click)="addFormArray()">
                        +
                    </button>
                </div>
            </div>
        </form>
        <button class="buttonSubmit" (click)="sendFormArray()">Submit</button>
        <button mat-button matStepperPrevious>Back to product info</button>
        <button mat-button matStepperNext>Next to review</button>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>fill in the product review</ng-template>
        <form class="form">
            <mat-form-field appearance="fill">
                <mat-label>Review</mat-label>
                <input matInput [formControl]="reviews" />
            </mat-form-field>
            <button mat-button matStepperPrevious>Back</button>
            <a
                mat-raised-button
                routerLink="/new-product-form"
                (click)="createNewProduct()"
                >add new product</a
            >
        </form>
    </mat-step>
</mat-vertical-stepper>
