img{
  margin-top: 0;
  display: inline;
  float: left;
  width: 250px;
}

menu{
display: flex;
width: 80%;
padding-top: 1em;
justify-content: right;
    }

menu a{
      margin-left: 1.5em;
      text-decoration: none;

      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(69, 69, 69);
    }

    menu a:hover{
      border-bottom: 2px solid black;
    }




