<div class="headerWrapper">
  <a routerLink=""
    ><img src="assets/Img/logomarian-removebg-preview.jpg" alt=""
  /></a>

  <!--<div class="search">
    <app-search></app-search>
    </div>-->

  <menu id="menuWrapper">
    <a routerLink="profil">Profil</a>
    <a routerLink="referencie"  >Referencie</a>
    <a routerLink="prihlaska">Prihláška</a>
    <a routerLink="zoznam-produktov">Produkty</a>
    <a routerLink="statistika">Štatistiky</a>
    <app-shopping-cart-badge></app-shopping-cart-badge>
  </menu>

  <mat-menu #appMenu = "matMenu" class="hamburgerMenuWrapper"> 
    <button mat-menu-item routerLink="profil">Profil</button>
    <button mat-menu-item routerLink="referencie"  >Referencie</button>
    <button mat-menu-item routerLink="prihlaska">Prihláška</button>
    <button mat-menu-item routerLink="zoznam-produktov">Produkty</button>
    <button mat-menu-item routerLink="statistika">Štatistiky</button>
    </mat-menu>
  <button mat-button [matMenuTriggerFor]="appMenu" class="hamburgerMenu"><i class="fa-solid fa-bars"></i></button>

</div>