img {
  margin-top: 1em;
  position: relative;
  width: 280px;
  
}

#menuWrapper {
margin: 1em;
display: flex;
box-sizing: border-box;
    
}

#menuWrapper a {
  padding-top: .8em;
  margin-right: 1em;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(69, 69, 69);
  text-align: center;
  
}

#menuWrapper > a:hover {
  
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.search {
  display: flex;
  justify-content: center;

  margin: auto;
  
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

@media only screen and (max-width: 640px) {
  .headerWrapper{
   display: block;
  }
  #menuWrapper {
    justify-content: center;
        
    }

    img{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }

 }