.modalLayout{
 width: 500px;
}

.mat-dialog-container{
    background-color: aquamarine;
}
h1{
    color: brown;
}

i{
   font-size: 2.5em;
   color: darkslategrey;

}

i:hover{
    cursor: pointer;
   color: rgb(70, 113, 113);

}

.mat-icon-button{
    background-color: transparent;

    top: -120px;
}

