.modalLayout {
    width: 500px;
}

.mat-dialog-container {
    background-color: aquamarine !important;
}
h1 {
    color: brown;
}

i {
    font-size: 2.5em;
    color: darkslategrey;
}

i:hover {
    cursor: pointer;
    color: rgb(70, 113, 113);
}

.mat-dialog-close {
    background-color: rebeccapurple;

    position: absolute;
}
