<div class="space"></div>
<app-countdown></app-countdown>

<div class="searchingWraper">
    <app-filter
        [whereIsSearching]="productList"
        [onStock]="onStockCheckBox"
        [myProductsFilter] = "myProducts"
        (outputEvent)="onFilterDone($event)"
    ></app-filter>

    <app-filter-option #onStock
        [onStockCheckBox]="false"
        (checkBoXInput)="inputCheckBox($event)"
    ></app-filter-option>

    <mat-checkbox *ngIf="isLogged"
        (click)="myProductIsClicked()"
        style="
            margin: 5px 0 auto 0.2em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        "
    >
        <span> My product </span>

    </mat-checkbox>

    <mat-checkbox
        (click)="isClicked()"
        style="
            margin: 5px 0 auto 0.2em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        "
    >
        <span *ngIf="sortByClicked"> Sorted Z-A (click to A-Z sorting) </span>
        <span *ngIf="!sortByClicked"> Sorted A-Z (click to Z-A sorting) </span>
    </mat-checkbox>
</div>

<div class="buttonWrapper">
    <a *ngIf="isLogged" mat-raised-button (click)="openModalNewProduct()"
        >add new product</a
    >
</div>

<div class="productsWrapper">
    <div class="productList">
        <app-product
            [data]="filteredProducts"
            *ngFor="
                let filteredProducts of filteredData | myProduct: myproductClicked | sortByPipe: sortByClicked
            "
        ></app-product>
    </div>
</div>
