<div *ngIf="data" #productPosition class="productWrapper">
    <div class="redRow"></div>

    <div class="productCategoryWrapper">
        <h2 class="productName">
            <a
                [title]="data.name"
                [routerLink]="['/zoznam-produktov', data.id]"
            >
                {{ data.name }}
            </a>
        </h2>
        <span class="category">
            {{ data.category }}
        </span>
    </div>

    <div class="infoProductGrid">
        <div class="redColumn"></div>

        <div class="PriceStockWrapper">
            <div class="price">
                <span class="title" *ngIf="data.price">Price:</span>
                <div class="priceStockValue" *ngIf="data.price != undefined">
                    {{ data.price + "€" }}
                </div>
            </div>

            <div *ngIf="data.ownerName != null">Manager: {{ data.ownerName }}</div>
        </div>

        <button
            *ngIf="data.stockCount !== 0"
            class="addToCart"
            (click)="addToCart()"
        >
            Add to cart
        </button>

        <div class="reviews"></div>
        <div class="reviewsBottom"></div>
    </div>
</div>
