body{
    height: 75vh;
}
.space{
    height: 10vh;
}

.mat-elevation-z8{
    margin: 0 auto 2em auto;
    max-width: 600px;
    
}

table{
    background-color: white;
    width: 100%;
   }

   th{
    background-color: gray;
    color: rgb(212, 212, 212);
    border-bottom: 1px gray;  
}

   td{
    color: rgb(44, 122, 119);
    border-bottom: rgb(194, 194, 194);
   }

   .mat-column-name{
    width: 170px;
   }

   .mat-column-price{
    width: 50px;
    text-align: right;
   }
   .mat-column-stockCount{
    width: 50px;
    text-align: right;
   }
   .mat-column-sold{
    width: 50px;
    text-align: right;
   }

   .mat-column-lastMonthSold{
    width: 50px;
    text-align: right;
   }

   .mat-column-obrat{
    width: 100px;
    text-align: right;
   }
   .tableHeader{
    text-align: right !important;
    
   }
   .cards{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
   justify-content: center;
        }

    .example-card{
        max-width: 310px;
        margin: 1em;
        background-color: rgb(184, 184, 184);
        color: black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .mat-card-content{
max-width: 300px;
text-align: justify;
    }



