<div class="space">
</div>

<div *ngIf="shopingCartItems.length>0">
<div class="itemInCartHeader" >
<div>Name</div>
        <div>Price</div>
        <div>Sum</div>        
    </div>
    <div class="cartWrapper">
    <div *ngFor="let item of shopingCartItems;">

        <div class="itemInCart">
        <div>{{item.name}}</div>
        <div>{{item.price }} €</div>
        <div>{{item.price }} €</div>
        <button (click)="deleteItem(item.id, item.stockCount)" >x</button>
        </div>    
        </div>
    </div>
        <div class="total">Total Price: {{total}}</div>
    </div>


    <div class="emptyCart" *ngIf="shopingCartItems.length==0">Shopping cart is empty</div>

