
<div class="productWrapper">
  <div class="redRow"></div>
  <div class="productCategoryWrapper">
    <h2 appHighlight class="productName">
      {{ data.name }}
    </h2>
    <span class="category categoryStyle">
      {{ data.category }}
    </span>
  </div>

  <div class="infoProductGrid">
    <div class="redColumn"></div>

    <h2 appHighlight class="priceName">
      <ng-content select="[priceName]"></ng-content>
    </h2>

    <div class="price">
      {{ data.price }}
    </div>
    <h2 appHighlight class="stockName">Stock:</h2>

    <div class="stockCount" *ngIf="data.stockCount !== 0">
      {{ data.stockCount }}
    </div>
    <div class="alertColor" *ngIf="data.stockCount === 0">Nedostupný</div>

    <h3 appHighlight class="descriptionName">Description:</h3>
    <div class="description">
      {{ data.description }}
    </div>
    <h3 appHighlight class="vendorsName">Vendors:</h3>
    <ng-content select="[vendor]"></ng-content>
    <br />
    <h3 class="reviewName">Recenzie</h3>
    <form class="review" action="">
      <textarea [(ngModel)] = "reviewFromInput"
        type="submit"
        name="review"
        class="textarea"
        cols="60"
        rows="5"
      ></textarea>
    <input (click) ="addReview(reviewFromInput)" class="submit" type="submit" value="Submit" />
    </form>
    </div>
    <div class="reviews">Rezenzie</div>
    <ng-container>
        <div class="reviewsList" *ngFor="let review of data.reviews">{{date| date: 'mediumDate'}} / {{date | date: 'shortTime'}} : {{review}} </div>
  </ng-container>
  <div class="reviewsBottom"></div>
</div>


