<div class="footer">
  <div id="adresa">
  Adresa: <br>
  Mikulasa Dohnanyho 817/1A <br>
   010 04  Žilina <br>
   <br>
   email: marian.ondrejka@metis.academy <br>
   telefon: 00421949870624 <br>
</div>

<div id="rightFooter">
 <a href="https://sk.linkedin.com/in/mari%C3%A1n-ondrejka-frontend/en?trk=people-guest_people_search-card"><img id="iconLinkedIn" src="assets/Img/transparent-linkedin-icon-linkedin-logo-icon-social-icon-5dd651ae448369.2225695515743267022806.png" alt="" ></a>
<a href="https://www.itvkurze.sk/"><img id="iconMetis" src="assets/Img/metislogo-removebg-preview.png" alt=""></a>
</div>


</div>
