<mat-vertical-stepper [linear]="false">
    <mat-step>
        <form class="form" [formGroup]="productFormGroup">
            <ng-template matStepLabel style="color: black"
                >fill in info about product</ng-template
            >

            <mat-form-field appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="name" />
                <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput formControlName="category" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Product price</mat-label>
                <input type="number" matInput formControlName="price" />
                <mat-error
                    *ngIf="productFormGroup.get('price')?.hasError('required')"
                >
                    This field is required</mat-error
                >
                <mat-error
                    *ngIf="productFormGroup.get('price')?.hasError('min')"
                >
                    This is not valid value for price</mat-error
                >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Stock count</mat-label>
                <input type="number" matInput formControlName="stockCount" />
                <mat-error
                    *ngIf="
                        productFormGroup.get('stockCount')?.hasError('required')
                    "
                >
                    This field is required</mat-error
                >
                <mat-error
                    *ngIf="productFormGroup.get('stockCount')?.hasError('min')"
                >
                    This is not valid value for stock count</mat-error
                >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Descripion</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Sold total</mat-label>
                <input type="number" matInput formControlName="sold" />

                <mat-error
                    *ngIf="productFormGroup.get('sold')?.hasError('required')"
                >
                    This field is required</mat-error
                >
                <mat-error
                    *ngIf="productFormGroup.get('sold')?.hasError('min')"
                >
                    This is not valid value for sold total</mat-error
                >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Sold last month</mat-label>
                <input type="number" matInput formControlName="lastMonthSold" />
                <mat-error
                    *ngIf="
                        productFormGroup
                            .get('lastMonthSold')
                            ?.hasError('required')
                    "
                >
                    This field is required</mat-error
                >
                <mat-error
                    *ngIf="
                        productFormGroup.get('lastMonthSold')?.hasError('min')
                    "
                >
                    This is not valid value for Sold last month</mat-error
                >

                <div
                    class="highValueThanSold"
                    *ngIf="productFormGroup.errors?.['highValueThanSold']"
                >
                    This value must be lower than Sold total
                </div>
            </mat-form-field>

            <button mat-button matStepperNext>Next to vendors</button>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>fill in the vendors of product</ng-template>

        <form class="formVendors" [formGroup]="vendorName">
            <div formArrayName="vendors">
                <div
                    *ngFor="
                        let vendor of vendorName.get('vendors').controls;
                        let i = index
                    "
                >
                    <mat-form-field>
                        <mat-label>Vendor {{ i + 1 }}</mat-label>
                        <input matInput [formControlName]="i" />
                        <mat-error
                            *ngIf="
                                vendorName.get('vendors')?.hasError('required')
                            "
                        >
                            This field is required</mat-error
                        >
                    </mat-form-field>
                </div>
            </div>
            <div formArrayName="countStock">
                <div
                    *ngFor="
                        let count of vendorName.get('countStock').controls;
                        let i = index
                    "
                >
                    <mat-form-field>
                        <mat-label>count on Stock</mat-label>
                        <input
                            type="number"
                            matInput
                            [formControlName]="i"
                            (blur)="sendFormArrayVendors()"
                        />
                        <mat-error
                            *ngIf="
                                vendorName
                                    .get('countStock')
                                    ?.hasError('required')
                            "
                        >
                            This field is required</mat-error
                        >
                    </mat-form-field>
                </div>
            </div>
        </form>

        <button class="buttonPlus" (click)="addFormArrayVendors()">+</button>
        <button mat-button matStepperPrevious>Back to product info</button>
        <button mat-button matStepperNext>Next to review</button>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>fill in the product review</ng-template>

        <form class="formVendors" [formGroup]="reviewsGroup">
            <div formArrayName="reviews">
                <div
                    *ngFor="
                        let review of reviewsGroup.get('reviews').controls;
                        let i = index
                    "
                >
                    <mat-form-field>
                        <mat-label>review {{ i + 1 }}</mat-label>
                        <input type="text" matInput [formControlName]="i" (blur)="sendFormArrayReviews()"/>

                    </mat-form-field>
                </div>
            </div>

        </form>
        <button class="buttonPlus" (click)="addFormArrayReviews()">+</button>

    </mat-step>

</mat-vertical-stepper>
<div class="buttonWrapper">
    <a mat-raised-button color="primary" (click)="createNewProduct()">Save</a>
    <a mat-raised-button color="warn" (click)="cancelModal()">Cancel</a>
</div>