<h3>Logg In</h3>

<form class="form" [formGroup]="logginGroup">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <mat-error>This field is required</mat-error>
    </mat-form-field>

</form>
<div class="stayButtonsWrapper">
    <mat-checkbox  (click)="stayLoggedIn()">Stay Logged in</mat-checkbox>
    <div>
        <button mat-button color="primary" (click)="LogIn()">Login</button>
        <button mat-button color="warn" (click)="closeModal()">Cancel</button>
    </div>
</div>
