<div class="space">

</div>
<figure>
    <img src="/assets/Img/foto.jpg" alt="">
</figure >
<div class="aboutMe">
    <span class="headerTitles">Marián Ondrejka</span>
    <p class="textAboutMe">Rád sa učím nové veci a rád objavujem ako veci fungujú. Vývoj softvéru ,konkrétne Front-End, sa stal mojou záľubou, v ktorej môžem naplno prejaviť svoje kreatívne cítenie. Myslím si, že práve spojenie kreativity a nadchnutia sa pre niečo, nás poháňa vpred. <br></p>
<p class="textAboutMeStars">* * * * *</p>
</div>
<br>
<span class="headerTitles">Mám skúsenosti s...</span>  
<div class="logoWrapper">
     
<img class="logos" src="/assets/Img/html.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/css.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/bootstrap.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/js.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/ts.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/react.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/angular.jpg" alt="Angular_logo">
<img class="logos" src="/assets/Img/java.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/c-sharp.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/github.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/nodejs_logo.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/mssql.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/wordpress.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/corel.jpg" alt="Corel_logo">
</div>
<br>
<span class="headerTitles">Moje záľuby...</span>

<div class="logoWrapper">
   <img class="logos" src="/assets/Img/volejbal.jpg" alt="volejbal">
   <img class="logos" src="/assets/Img/pingpong1.jpg" alt="pingpong">
   <img class="logos" src="/assets/Img/biker.jpg" alt="biker">
   <img class="logos" src="/assets/Img/manOnSofa.jpg" alt="volejbal">
   <img class="logos" src="/assets/Img/family.jpg" alt="family">
   <img class="logos" src="/assets/Img/vitara.jpg" alt="vitara">
   <img class="logos" src="/assets/Img/castle.jpg" alt="castle">
   </div>
<br>
<span class="headerTitles">Vzdelanie</span>
   <div class="educationWrapper">
          <img class="metisLogo" src="/assets/Img/metislogo-removebg-preview.png" alt="metis">

     <p class="educationText"  > február 2022 - jún 2022 Kurz FED1 - Front-End Developer <br>
    jún 222 - december 2022 Kurz FED2 + SQL + C# - Full Stack Developer <br></p> 
    
    </div>