<figure>
    <img src="/assets/Img/foto.jpg" alt="">
</figure>
<div class="aboutMe">
    <p class="textAboutMe">Rád sa učím nové veci a rád objavujem ako veci fungujú. Vývoj softvéru ,konkrétne Front-End, sa stal mojou záľubou, v ktorej môžem naplno prejaviť svoje kreatívne cítenie. Myslím si, že práve spojenie kreativity a nadchnutia sa pre niečo, nás poháňa vpred.</p>
</div>


<div class="logoWrapper">
    <h1>Mám skúsenosti s...</h1>
<img class="logos" src="/assets/Img/html.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/css.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/bootstrap.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/js.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/ts.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/react.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/angular.png" alt="Angular_logo">
<img class="logos" src="/assets/Img/java.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/c-sharp.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/github.jpg" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/nodejs_logo.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/mssql.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/wordpress.png" alt="Bootstrap_logo">
<img class="logos" src="/assets/Img/corel.jpg" alt="Corel_logo">
</div>